body {
  overflow-x: hidden;
}
.section{
  position: absolute;
  
}
.container {
  position: absolute;
  top: 0;
  right: 30%;
}

.item-1 {
  position: absolute;
  top:0px;
  /* right: 0px; */
  /* bottom: 0px; */
  left:5px;
  z-index: 1;
}
